<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> PaWdopt </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">PaWdopt</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Welcome to PaWdopt!</h1>
    <strong>Ready to create an app?</strong>
    <p>
      Start with Ionic
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
        >UI Components</a
      >
    </p>
  </div>
</ion-content> -->


<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
    <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="liked">
      <ion-icon name="paw"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="chats">
        <ion-icon name="chatbox"></ion-icon>
        </ion-tab-button>
  </ion-tab-bar>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="settings">
    <ion-icon name="settings"></ion-icon>
    </ion-tab-button>
    <ion-text>PAWDOPT</ion-text>
      <ion-tab-button tab="account">
        <ion-icon name="person"></ion-icon>
        </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>



